<main>
	<h1>Welcome!</h1>
	<p>
		This is the server-side / Express.js edition of the “guestbook” example web app.
	</p>
	<form action="/sign" method="post">
		<input type="hidden" name="csrfToken" value="{{ csrfToken }}">
		<p>
			Click here to add yourself to the
			<a href="https://test.wikipedia.org/wiki/M3api-examples_guestbook">guestbook</a>:
			<button type="submit">Sign guestbook</button>
		</p>
	</form>
</main>
