<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<main>
			<h1>Welcome!</h1>
			{{{error}}}
			<p>
				This is the server-side / Express.js edition of the “guestbook” example web app.
			</p>
			{{{body}}}
		</main>
	</body>
</html>
