<main>
	<h1>Welcome!</h1>
	<p>
		This is the server-side / Express.js edition of the “guestbook” example web app.
	</p>
	<p>
		Guestbook signed! You can review <a href="https://test.wikipedia.org/w/index.php?diff={{ signatureRevisionId }}">the edit</a> or <a href="/">go back</a> to start over.
	</p>
</main>
